{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish the activation process on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate your account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% blocktrans %}Boomslag DAO, Av. Del Pinar 134, Oficina 803, Lima, Peru{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}

<p>{% blocktrans %}You're receiving this email because you need to finish the activation process on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate your account:" %}</p>
{% autoescape off %}
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>
{% endautoescape %}

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

<p>{% blocktrans %}Boomslag DAO, Av. Del Pinar 134, Oficina 803, Lima, Peru{% endblocktrans %}</p>
{% endblock html_body %}
